@charset "utf-8";

// ブレイクポイント
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

// コンテンツ幅
$content_width: 1280px;
$content_width_narrow: 760px;

// コンテンツ左右余白
$content_paddingS: 20px;
$content_paddingM: 40px;
$content_paddingL: 60px;

// カラー
$color_primary: #4dbbaa;
$color_black: #000;
$color_darkgray: #787878;
$color_gray: #c4c4c4;
$color_lightgray: #f7f7f7;
$color_white: #fff;

// イージング
$ease_out_quint: cubic-bezier(0.22, 1, 0.36, 1);
$ease_out_cubic: cubic-bezier(0.33, 1, 0.68, 1);
$ease_in_out_quart: cubic-bezier(0.76, 0, 0.24, 1);

// Headerの高さ
$header_height: 90px;
$header_height_sp: 70px;

// z-index
$layer: (
  header: 100,
  header_inner: 50,
  hamburger: 50,
  drawer: 25,
);
