---
const maxCount = 50
const numbers = Array.from({ length: maxCount }, (_, i) => i + 1)
---

<div class="paginize">
  <ul class="paginize-contents">
    {numbers.map((number) => <li class="paginize-item">{number}</li>)}
  </ul>
  <div class="paginize-wrapper">
    <button type="button" class="paginize-prev" aria-label="Back to Previous Page">&lt;</button>
    <div class="paginize-counter"></div>
    <button type="button" class="paginize-next" aria-label="Go to next page">&gt;</button>
  </div>
</div>
